<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoinAPI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>43D8B22B2B642ADF00F0FE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43D8B2412B642AE000F0FE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43D8B24B2B642AE000F0FE15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
